.page {
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    min-width: 1100px;

    /* here we've set a maximum page width */
    max-width: 1600px;

    /* this ensures that all content is centered on screens wider than 1600px */
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    /* parameters for the header section */
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    margin-bottom: 100px;
    background-color: #F2F2F2;
    z-index: -2;
    display: flex;
    position: relative;
    align-items: center;
    
}

.logo_place_header {
    height: 31px;
    width: 154px;
    top: 30px;
    left: 64px;
    z-index: 1;
    position: absolute;
}

.header__title {
    width: 730px;
    padding-left: 64px;
    font-size: 102px;
    line-height: 96px;
    font-weight: bold;
}

.header__subtitle {
    width: 388px;
    bottom: 30px;
    left: 64px;
    font-size: 18px;
    line-height: 25px;
    z-index: 1;
    font-weight: normal;
    position: absolute;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
    height: 608px;
    width: 765px;
    bottom: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    top: 64px;
    right: 0;
    z-index: -1;  
    background-color: #2F80ED; 
    position: absolute;
}

.content {
    padding: 100px auto;
}
  
.description {
    min-width: 784px;
    margin-bottom: 100px;
}
  
.two-columns {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.two-columns__brief {
    width: 175px;
    margin: 0;
    padding-right: 50px;
    line-height: 1.2;
    font-size: 18px;
    color: #2F80ED;
    font-weight: normal;
    text-align: start;
}
  
.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    margin: 0;
    flex-direction: column;
}
  
.two-columns__paragraph {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 34px;
    font-size: 24px;
    list-style: none;
    font-weight: normal; 
}
  
.two-columns__paragraph:last-child {
    margin-bottom: 0;
}
  
.two-columns__span-accent {
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}

.digits {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.section-title {
    width:60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin:auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
  
.section-subtitle {
    width:60%;
    line-height:34px;
    font-size:24px;
    margin: 20px auto 0 auto;
    font-weight:normal;
    text-align:center;
}
  
.table {
    width:1100px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    list-style:none;
    justify-content:space-between; 
}
  
.table__cell {
    width:250px;
    margin-top:60px;
}
  
.table__heading {
    margin-bottom:20px;
    line-height:1.15;
    font-size:24px;
    font-weight:bold;
}
  
.table__text {
    line-height:1.2;
    font-size:18px;
    margin-bottom:20px;
    font-weight: normal;
}

.feynman {
    padding-top:100px;
    height:790px;
    background-color:#F2F2F2;
    background-size:867px 627px;
    background-image: url("../images/feynman.png");
    background-position:left bottom;
    background-repeat:no-repeat;
    position:relative;
}

.feynman__title {
    width: 775px;
    margin:0 auto 70px;
    line-height: 1.15;
    font-size: 120px;
    z-index:2;
    font-weight: bold;
    text-align: center;
}

.feynman__subtitle {
    margin:0;
    line-height: 51px;
    font-size: 36px;
    z-index:2;
    font-weight:normal;
    text-align:center;
}

.feynman__link {
    top:50%;
    right:48px;
    line-height:51px;
    font-size:36px;
    color: #000000;
    font-weight:normal;
    text-decoration:none;
    position:absolute;
}

.kaufman {

}

.section-title_theme_dark {

}

.section-subtitle_theme_dark {

}

.table_theme_dark {

}


/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    margin-top: 80px;
    margin-right: 0;
    color: white;
}

.table__heading_theme_dark {

}

.table__text_theme_dark {

}


